h1, h2, h3 {
  text-align: center;
  user-select: none;
}

header {
  text-align: center;
}

h1 {
  display: inline-block;
  font-family: 'Indie Flower', cursive;
}

h2 {
  padding: 0em;
  margin: 0em;
  font-size: 20px;
  font-family: 'Exo 2', serif;
}

.button {
  margin: 5px 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px #727272;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 15px 25px;
  width: 6em;
  height: 1em;
  color: rgb(255, 255, 255);
  user-select: none;
  background: rgb(56, 56, 56);
}

.button:hover {
  background: rgb(71, 71, 71);
}

.button:active {
  background: rgb(26, 26, 26);
}

#start, #stop, #reset {
  color: rgb(0, 0, 0);
}

#start {
  background: rgb(158, 243, 243);
}

#start:hover {
  background: rgb(190, 255, 255);
}

#start:active {
  background: rgb(86, 180, 184);
}

#stop {
  background: rgb(243, 158, 158);
}

#stop:hover {
  background: rgb(255, 190, 190);
}

#stop:active {
  background: rgb(184, 86, 86);
}

#reset {
  background: rgb(214, 214, 214);
}

#reset:hover {
  background: rgb(228, 228, 228);
}

#reset:active {
  background: rgb(177, 177, 177);
}

#display {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 100px;
  border-style: solid;
  padding: auto;
  margin: 20px 100px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

#container {
  position: relative;
  display: grid;
  margin: 1em auto;
  padding: 1em 30em;
  justify-content: center;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: auto auto auto;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px #383838;
  border-radius: 300px;
  background: rgb(225, 228, 51);
  width: 30em;
  height: 20em;
}

#settings {
  display: grid;
  justify-content: center;
  grid-template-rows: 1;
  grid-template-columns: auto auto;
}

.small-button {
  margin: 5px 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px #727272;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 5px;
  width: 5em;
  height: 1em;
  color: rgb(0, 0, 0);
  user-select: none;
  background: rgb(192, 192, 192);
}

.small-button:hover {
  background: rgb(216, 216, 216);
}

.small-button:active {
  background: rgb(167, 166, 166);
}

#banana {
  width: 48px;
  height: 48px;
  margin-bottom: -5px;
}

html {
  display: grid;
  background: rgb(207, 206, 147);
}